<div>
  <ul class="social_link">
    <li><a href="https://it.linkedin.com/in/mattian" target="_blank" title="Profilo LinkedIn"><i class="fa fa-linkedin"></i></a></li>
    <li><a href="https://github.com/matitalatina" target="_blank" title="Profilo GitHub"><i class="fa fa-github"></i></a></li>
    <li><a href="https://www.facebook.com/mattia.natali" target="_blank" title="Profilo Facebook"><i class="fa fa-facebook"></i></a></li>
    <li><a href="https://www.instagram.com/matitalatina/" target="_blank" title="Profilo Instagram"><i class="fa fa-instagram"></i></a></li>
    <li><a href="https://twitter.com/matitalatina" target="_blank" title="Profilo Twitter"><i class="fa fa-twitter"></i></a></li>
  </ul>
</div>