body {
  font-family: 'Open Sans', sans-serif;
}

::selection {
  background: #fff46d;
  /* WebKit/Blink Browsers */
}

::-moz-selection {
  background: #fff46d;
  /* Gecko Browsers */
}

a {
  color: #ff4e00;
}

.post-full-content a {
  box-shadow: inset 0 -1px 0 #ff4e00;
}

.post-full-content a:hover {
  color: #ff4e00;
}

.post-full-content {
  font-family: inherit;
}


/* social link */

.site-header .social_link {
  padding: 0;
  list-style-type: none;
  position: relative;
  z-index: 15;
}

.site-header .social_link li {
  display: inline;
  font-size: 2.5rem;
}

.site-header .social_link li a {
  display: inline-block;
  padding: 10px;
  transition: all 0.1s ease-in-out;
  color: rgba(255, 255, 255, 0.8);
}

.site-header .social_link li a {
  display: inline-block;
  padding: 10px;
  transition: all 0.1s ease-in-out;
  color: rgba(255, 255, 255, 0.8);
}

.site-header.no-cover .social_link li a {
  color: rgba(0, 0, 0, 0.8);
}

.site-header .social_link li a:hover {
  transform: scale(1.3);
  color: rgba(255, 78, 0, 0.8);
}

.post-full-content ul,
.post-full-content ol,
.post-full-content pre {
  max-width: 100%;
}